@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container text-center">
        <h1>Question & Answers </h1>
        <p class="lead">We are a non-profit organization promoting love and peace around the world</p>
        <p class="lead">We would like to give answers of your questions about anything related to mind, body and peace. </p>
        <p class="lead"> You can also View what people have asked in the past <a href="@Url.Action("Index", "Question")" class="btn btn-outline-danger btn-sm ml-2">View Asked Questions &raquo;</a></p>

    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md m-1" id="infoBox">
            <h3>Getting started</h3>
            <p>
                Wisi ipsum no dolor duis vero erat nonumy sit nonumy aliquam et eos nihil tation gubergren nonumy sed dolor ipsum sed ipsum justo stet sit
            </p>
            <p><a class="btn btn-outline-danger" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md m-1" id="infoBox">
            <h3>Get more information</h3>
            <p>Quis dolor nonummy feugait ut nonumy nulla et hendrerit vero dolores ipsum et lorem est lorem vel ut sadipscing rebum</p>
            <p><a class="btn btn-outline-danger" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md m-1" id="infoBox">
            <h3>Our Events</h3>
            <p>Amet invidunt kasd justo duo gubergren elitr et at feugiat sed voluptua amet lorem sit</p>
            <p><a class="btn btn-outline-danger" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</div>